<ul>
    <li>
        @Html.ActionLink("Create Request", "CreateRequest", "Report");
    </li>
    @if (Request.IsAuthenticated)
    {
        <li>
            @Html.ActionLink("My Requests", "ViewPersonalReports", "Report");
        </li>
    }
</ul>
