
@{
    ViewBag.Title = "Login";
}

<h2>Login</h2>
<form id="app" @@submit="checkForm" action="/Account/Login" method="post" novalidate="true">
    <p v-if="errors.length">
        <b>Please fix below errors:</b>
        <ul>
            <li v-for="error in errors">{{ error }}</li>
        </ul>
    </p>

    <p>
        <label>Email</label>
        <input type="email" name="email" id="email" v-model="email">
    </p>

    <p>
        <label>Password</label>
        <input type="password" name="password" id="password" v-model="password" />
    </p>

    <p>
        <label>Remember me?</label>
        <input type="checkbox" name="rememberMe" id="rememberMe" v-model="rememberMe" />
    </p>

    <p>
        <input type="submit" value="Login">
    </p>
</form>
<script src="~/Scripts/Custom/login.js"></script>