
@{
    ViewBag.Title = "ViewReportResult";
}

<h2>ViewReportResult</h2>

<div id="app">
    <p>
        <button v-on:click="startCheck">Start Check</button>
    </p>
    <table v-if="results">
        <thead>
            <tr>
                <th>Url</th>
                <th>Status Code</th>
            </tr>
        </thead>
        <tbody>
            <tr v-for="result in results">
                <td>{{result.URL}}</td>
                <td>{{result.StatusCode}}</td>
            </tr>
        </tbody>
    </table>
</div>

<script src="~/Scripts/Custom/viewReport.js"></script>